<%= render :partial => 'home/up_navbar' %>

<section id="main">
    <section id="content">
        <div class="text-center">
            <ul class="nav nav-pills row main-nav">
                <li role="presentation" class="col-md-2 col-md-offset-3"><a href="/board_index">Projects</a></li>
                <li role="presentation" class="col-md-2" ><a href="/ppl_index">People</a></li>
                <li role="presentation" class="col-md-2"><a href="/task_index">Events</a></li>
            </ul>        
        </div>
    </section>
    </br>
    <div class="text-center">
      <img src="/meeting.png" width="800"></br>
    </div>
          <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item active">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
          </div>
        </div>
</section>

<footer id="footer">
    Copyright &copy; 2016 Costar
    
    <ul class="f-menu">
        <li><a href="">Home</a></li>
        <li><a href="">Dashboard</a></li>
        <li><a href="">Reports</a></li>
        <li><a href="">Support</a></li>
        <li><a href="">Contact</a></li>
    </ul>
</footer>

<%= render :partial => 'home/bottom_script' %>